.search-bar {
    max-width: 500px; /* Set maximum width */
    margin: 0 auto;   /* Center the search bar */
  }
  
  .fixed-card {
    width: 18rem; /* Fixed card width */
    height: 29rem; /* Fixed card height */
  }
  
  .card-img-top {
    height: 250px; /* Set a fixed height for the image */
    object-fit: cover; /* Ensures image is cropped to fit the dimensions */
  }
  
  .card-body {
    height: calc(100% - 150px); /* Ensures that the body occupies the remaining space */
    overflow-y: auto; /* If content overflows, enable scrolling */
  }
  