.footer {
  background-image: url('https://mars-metcdn-com.global.ssl.fastly.net/content/uploads/sites/101/2019/04/30174046/footer-background.png'); /* Replace with your image path */
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  color: white; /* Adjust text color for better visibility */
  padding: 20px;
  text-align: center;
}
  
  .footer-content {
    max-width: 1200px;
    margin: 0 auto;
  }
  
  .social-links {
    margin-top: 10px;
  }
  
  .social-link {
    color: white;
    margin: 0 10px;
    text-decoration: none;
  }
  
  .social-link:hover {
    text-decoration: underline;
  }
  